@font-face{
  font-family: 'Iosevka';
  src: url(./iosevka-regular.ttf) format('truetype');
}

html{
  background-color: white;
  overflow-y: scroll;
}

body{
  text-align: center;
  font-size: 20px;
  font-family: 'Iosevka';
  line-height: 75%;
  margin-left: 20%;
  margin-right: 20%;
}

@media (min-width: 300px) and (max-width: 1000px) {
  body {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

p{
  color: black;
  line-height: 150%;
}

#navbar{
  color: #8e8e8e;
  margin-top: 0px;
}

#navbarLink{
  color: #8e8e8e;
  text-decoration: none;
  font-weight: normal;
}

#navbarLink:hover{
  color: black;
  text-decoration: underline;
  font-weight: normal;
}

#title{
  line-height: 75%;
}

#dummy{
  visibility: hidden;
  pointer-event: none;
}
